{% extends 'header.html' %}

{% block content %}
      <div class="nav">
        <h2>– КУРСЫ ФУТБОЛЬНЫХ АГЕНТОВ В КИЕВЕ –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content" style="margin-bottom: 15px !important">
        <div class="about-me">
          <h4>
            Компания «TopFootballTransfers» организует интенсивные курсы
            обучения профессии футбольного агента. Курсы проводит футбольный
            агент, аттестованный Украинской ассоциацией футбола. <br> &nbsp; <br> Курсы состоят
            из 48 уроков, продолжительностью 50 минут, 4 урока в день, три дня в
            неделю, в течении 4 недель. За этот период футбольный агент
            расскажет, как становятся агентами, как добиться успеха в этом деле,
            о подводных камнях и поделится профессиональными секретами. Также он
            ответит на вопросы учащихся и проведет индивидуальные консультации.<br> &nbsp; <br>
            Эти курсы помогут вам сэкономить время для постижения профессии
            футбольного агента. Курсы проводятся на русском языке. Стоимость
            обучения 19200 гривен за весь курс. Курсы будут проводиться в
            учебном центре на правом берегу Киева. <br> &nbsp; <br> По окончанию курсов будет
            предоставлен «Сертификат о прохождении курсов футбольного посредника
            (агента)». <br> &nbsp; <br> За консультациями можете обращаться по телефону
            0688344957.
          </h4>
        </div>
      </div>
{% endblock %}

